<IfModule mod_rewrite.c>
    RewriteEngine On

    # Evita redirecionamentos para HTTPS nas requisições OPTIONS
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^uptodrive$ /uptodrive/ [R=301,L]


    # Habilita CORS para todas as origens
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, cache-control"

    # Permitir requisições preflight (OPTIONS)
    Header always set Access-Control-Max-Age "86400"

    php_value upload_max_filesize 800M
    php_value post_max_size 900M
    php_value max_execution_time 600
    php_value max_input_time 600
</IfModule>
